In [30]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, mean_absolute_error
import numpy as np

TEST_PATH = "task0_sl19d1/test.csv"
TRAIN_PATH = "task0_sl19d1/train.csv"

In [25]:
#Get data
train_data = pd.read_csv(TRAIN_PATH)
test_data = pd.read_csv(TEST_PATH)

train_data.head()

,Id,y,x1,x2,x3,x4,x5,x6,x7,x8,x9,x10
0,0,738.023171,1764.052346,400.157208,978.737984,2240.893199,1867.557990,-977.277880,950.088418,-151.357208,-103.218852,410.598502
1,1,400.646015,144.043571,1454.273507,761.037725,121.675016,443.863233,333.674327,1494.079073,-205.158264,313.067702,-854.095739
2,2,189.900156,-2552.989816,653.618595,864.436199,-742.165020,2269.754624,-1454.365675,45.758517,-187.183850,1532.779214,1469.358770
3,3,-78.399449,154.947426,378.162520,-887.785748,-1980.796468,-347.912149,156.348969,1230.290681,1202.379849,-387.326817,-302.302751
4,4,-547.373531,-1048.552965,-1420.017937,-1706.270191,1950.775395,-509.652182,-438.074302,-1252.795360,777.490356,-1613.897848,-212.740280

In [26]:
#Prepare data
train_set, test_set = train_test_split(train_data, test_size=0.2, random_state=42)

X_train = train_set.drop('y', axis=1)
y_train = train_set['y']

X_test = test_set.drop('y', axis=1)
y_test = test_set['y']

In [27]:
#Train model
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [31]:
#Assess performance
predictions = model.predict(X_test)

MSE = mean_squared_error(y_test, predictions)
print("Mean Squared Error: {}".format(MSE))

MAE = mean_absolute_error(y_test, predictions)
print("Mean Absolute Error: {}".format(MAE))

Mean Squared Error: 2.985729799766612e-24
Mean Absolute Error: 1.4877706983051908e-12

In [60]:
#Predicting test set
final_predictions = model.predict(test_data)

In [86]:
#Join Id's and predictions
final = np.concatenate((final_predictions, test_data['Id']), axis=0)
final = np.reshape(final, (int(len(final)/2), 2), order='F')

In [100]:
final[:,[0, 1]] = final[:,[1, 0]]
final

array([[10000.        ,   -66.00242349],
       [10001.        ,   451.4065044 ],
       [10002.        ,  -461.67641706],
       ...,
       [11997.        ,   -35.13540942],
       [11998.        ,  -131.67918453],
       [11999.        ,   417.26915462]])

In [101]:
np.savetxt("predictions.csv", final, delimiter=",")

In [96]:
#Actual y's according to task description
actual = np.zeros(len(test_data))


for i in range(len(test_data)):
    row = test_data.iloc[i,:]
    mean = (row.sum() - row['Id'])/10
    actual[i] = mean

actual

array([ -66.00242349,  451.4065044 , -461.67641706, ...,  -35.13540942,
       -131.67918453,  417.26915462])